form {
    max-width: 270px;
}

form .label {
    float: left;
}

form .field {
    float: right;
}

form .row {
    line-height: 2em;
}
form .row:after {
    content: "";
    display: block;
    clear: both;
}
